<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Asset Storage</title>

    <script src="/js/loader.js"></script>
    <script src="/js/client.js"></script>
    <script src="/js/dialog.js"></script>
    <script src="/js/ui.js"></script>

    <script src="/vue/vue.global.js"></script>
    <script src="/vue/vue-router.global.js"></script>
    <script src="/vue/VueComponentUtil.js"></script>

    <link href="/bootstrap/5.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap/5.3/js/bootstrap.bundle.min.js"></script>

    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/assets.css" rel="stylesheet">

    <script>

        function startApp() {

            const routes = [
                {
                    path: '/',
                    component: () => VueComponentUtil.loadComponent('/vue/components/AssetList.js')
                },
                {
                    path: '/upload',
                    component: () => VueComponentUtil.loadComponent('/vue/components/Upload.js')
                },
            ]

            const router = VueRouter.createRouter({
                history: VueRouter.createWebHashHistory(),
                routes // short for `routes: routes`
            });

            const app = Vue.createApp({
                data() {
                    return {
                        pathsVisible: false
                    }
                },
                methods: {
                    togglePathItems() {
                        this.pathsVisible = !this.pathsVisible;
                        if(!this.pathsVisible)
                            this.$refs.view.$.ctx.setPathItemId(null)
                    },
                    selectPathItem(item) {
                        this.$refs.view.$.ctx.setPathItemId(item.Id)
                    }
                }
            });
            app.use(router);

            VueComponentUtil.loadComponent('/vue/components/PathItemTree.js').then((component) => {
                app.component('PathItemTree', component);
            }).then(() => {
                app.mount('#app');
            });
        }

        (function (callback) {
            if (document.readyState !== "loading") callback();
            else document.addEventListener("DOMContentLoaded", callback);
        })(startApp);

    </script>

</head>
<body>

<div id="clientProgressInfo"></div>
<div id="clientMessages"></div>


<div id="app">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">:&nbsp;)</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <router-link class="nav-link active" to="/">Home</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link active" to="/upload">Upload</router-link>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="mainContainer" class="container-fluid">
        <div class="row">
            <div class="col-auto p-0">
                <div class="path-items-bar">
                    <div class="mt-4">
                        <button class="btn btn-sm btn-outline-secondary me-1 ms-1 mt-1" @click="togglePathItems">
                            Paths
                            <span v-if="pathsVisible">-</span><span v-else>+</span>
                        </button>
                    </div>
                    <path-item-tree ref="treeView" @click="selectPathItem" v-if="pathsVisible"></path-item-tree>
                </div>
            </div>
            <div class="col">
                <router-view v-slot="{ Component }">
                    <component ref="view" :is="Component"></component>
                </router-view>
            </div>
        </div>
    </div>
</div>


</body>
</html>
