@charset "UTF-8";

:root {
    --navbar-width: 10rem;
    --navbar-icon-size: 7rem;
    --main-nav-color: #333;
    --main-nav-bg: #ccc;
}


#mainNav {
    padding: 1rem;
    color: var(--main-nav-color);
    background-color: var(--main-nav-bg);
    z-index: 999;
}

section {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: var(--navbar-width);
    }

    #mainNav {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        width: var(--navbar-width);
        height: 100vh;
    }
}