html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#clientMessages, #clientProgressInfo {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
}

.loadSpinnerWrapper {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
    background-image: url("/img/spinner.gif");
    background-position: center center;
    background-repeat: no-repeat;
}

/* App frames */

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#mainContainer {
    position: relative;
    height: 100%;
}

.pathDropdown .dropdown-menu {
    opacity: 0.9;
}

ul.pathitem-tree {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 1em;
}

ul.pathitem-tree li {
    margin: 0;
    padding: 0;
}

ul.pathitem-tree button {
    font-size: 0.8rem;
    border: none;
    background-color: inherit;
}